
<h1>Still working on this</h1>
<ol>
  <% @mortgages.each_with_index do |mortgage, index| %>
  <div class="row">
    <li><% if mortgage[:adjustable_rate?] %>Adjustable Rate <% else %>Fixed Rate <% end %> Mortgage</li>
      <ul>
      <li>loan amount: <%= number_to_currency(mortgage[:loan_amount]) %></li>
      <li>interest rate: <%= mortgage[:initial_rate] %>%</li>
      <li>term of loan: <%= mortgage[:term] %> years</li>
        <% mortgage[:payments].uniq.each do |payment|%>
          <li><%= mortgage[:payments].select { |p| p == payment}.size %> Principal and Interest Payments: <%= number_to_currency(payment.to_f) %></li>
        <%end%>
        <li>Present Value of payments: <%= number_to_currency(mortgage[:PV_payments]) %></li>
        <li>Present Value of interest over life of loan: <%= number_to_currency(mortgage[:PV_payments] - mortgage[:loan_amount]) %>
      </ul>
    </li>
  </div>
  <% end %>
</ol>